/*--------------- media query 1 start ---------------*/
@media (min-width: 120px) and (max-width: 768px)
{
    /* ================== sidebar style start ================ */
    
    /* ================== sidebar style end ================ */

    /*================== navbar style start =================*/
    .form{
        width: 50% !important;
    }
    .form button{
        font-size: 10px !important;
        padding: 0px 5px !important;
    }
    .form input{
        font-size: 10px !important;
    }
    /* ================== navbar style end ================= */
}