/*--------------- media query 1 start ---------------*/
@media (min-width: 120px) and (max-width: 768px)
{
    /* ================== sidebar style start ================ */
    .sidebar{
        align-items: center !important;
    }
    .sidebar .dash span{
        display: none !important;
    }
    .sidebar .dash i{
        align-items: center !important;
        width: 100% !important;
    }
    .sidebar .menu a{
        width: 100% !important;
        align-items: center !important;
    }
    .sidebar .menu a span{
        display: none !important;
    }
    /* ================== sidebar style end ================ */

    /*================== navbar style start =================*/
    .form{
        width: 50% !important;
    }
    .form button{
        font-size: 10px !important;
        padding: 0px 5px !important;
    }
    .form input{
        font-size: 10px !important;
    }
    /* ================== navbar style end ================= */
}