/* =============== general style start ================ */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../asset/3532.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    opacity: 1;
}
/* =============== general style end ================ */

/* =============== sidebar style start ================ */
.sidebar{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;   
}
.sidebar .dash{
    position: absolute;
    top: 50px;
}
.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 20px;
    color: white;
}
.underline:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.dropdown{
    position: relative;
    padding-bottom: 5%;
}
/* ============== sidebar style end ================ */

/* =============== navbar style start ================ */
.navbar{
    border-bottom: 1px solid rgb(231, 237, 235);
    width: 80vw;
    height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
}
/* =============== navbar style end ================ */

/* =============== container style start ================ */
.container{
    position: absolute;
    width: 80vw;
    height: 90vh;
    top: 10vh;
    right: 0;
}
.content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-inline: 2%;
}