/*====================== global style start ==================*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('../asset/3532.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: #fff;
}
/* ====================== global style end ================== */

/* ====================== sidebar style start ================= */
.sidebar{
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 3%;
    justify-content: center;
    align-items: start;
    padding-left: 2%;    
}
.sub-menu{
    padding-left: 3%;
}
.sub-menu .title:hover{
    text-decoration: underline;
}
.sidebar p{
    padding-left: 7%;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-top: 20px;
}
/* ====================== sidebar style end ================= */

/*======================== container style start ========================*/
.container{
    width: 80vw;
    height: 100vh;
    position: absolute;
    right: 0px;  
}
/*============== navbar style start========= */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.form{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control{
    width: 100%;
    border: none;
}
.fa-magnifying-glass{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
/* ============== navbar style end========= */

/* ============== content style start========= */
.content{
    position: relative;
    top: 10vh;
    width: 90%;
    height: 90vh;
    padding: 5% 5%;
}
/* ================ content style end========= */
/*======================== container style end ========================*/